@charset "UTF-8";

/* 星级 */
.t-stars { font-size: 14px;}
.t-stars i { float: left; color: #ff9628;}
.t-stars i.disabled { color: #CCC;}
.t-stars:after, .t-stars:before { display: block; content: ""; clear: both; height: 0; font-size: 0; overflow: hidden; }

/* 标签 */
.t-tag, .t-tag-done, .t-tag-todo,.t-tag-ing , .t-tag-del ,.t-tag-red,.t-tag-yellowColor{line-height: 20px; display: inline-block; padding: 2px 8px; border-radius: 3px; color: #FFF; font-weight: normal; font-size:12px;}
.t-tag { background: #E3E3E3; color: #777;}
.t-tag-todo { background: #82be38; }
.t-tag-done { background: #ffab00; }
.t-tag-ing { background: #ffab00; }
.t-tag-del { background:#3A8BE0;}
.t-tag-red{background:red;}
.t-tag-yellowColor{background-color:#f7f200;}
.t-tag-del a.icon-chahao { display: inline-block;margin-left:3px;padding: 1px 0px 0px 0px; font-family: "iconfont" !important;font-style: normal; text-decoration: none;color:#fff;}

/* 可选择标签 */
a.t-tag-category, a.t-tag-category-lg { display: inline-block; margin-top:5px;margin-right: 6px; cursor: pointer;}
a.t-tag-category p, a.t-tag-category-lg p { box-sizing:content-box; border:solid 1px #ddd; text-align:center; color:#333;}
a.t-tag-category p { line-height: 21px; height: 21px; font-size:12px; padding:3px 12px 3px 8px;}
a.t-tag-category-lg p { line-height: 28px; height: 28px; font-size:14px; padding:3px 14px 3px 10px;}

a.t-tag-category:hover p { border:solid 1px #ffaa00; padding:3px 12px 3px 8px; background:#F8F8F8 url(../../../img/ui-lib-tag.gif) no-repeat right top;}
a.t-tag-category-lg:hover p { border:solid 1px #ffaa00; padding:3px 14px 3px 10px; background:#F8F8F8 url(../../../img/ui-lib-tag.gif) no-repeat right -666px;}

a.t-tag-category.selected p, a.t-tag-category-lg.selected p { border:solid 1px #ffaa00; background-color: #FFF; background-image: url(../../../img/ui-lib-tag.gif); background-repeat: no-repeat; }
a.t-tag-category.selected p { background-position: right -190px; }
a.t-tag-category-lg.selected p { background-position: right -434px; }

/* 徽章 */
.t-badge, .t-badge-red ,.t-badge-orange{ display: inline-block; line-height: 1.412; padding: 2px 6px; border-radius: 6px; color: #FFF; font-weight: normal; font-size:12px; }
.t-badge { background:#339dd9;}
.t-badge-red { background:#cc3300;}
.t-badge-orange {background: #fa7d3c;position: absolute;right: 10px;top:8px;}
/* loading */
.t-loading, .t-loading-cmcc, .t-loading-cmcc-lg { display:inline-block;line-height: 1.5; border: 1px solid #ccc; border-radius: 5px; -webkit-box-shadow: 1px 1px 3px #ccc; -moz-box-shadow: 1px 1px 3px #ccc; box-shadow:1px 1px 3px #ccc; color: #666; }
.t-loading { padding:8px 20px 8px 40px; background:#fff url(../../../img/loading/loading.gif) no-repeat 10px 4px; font-size: 12px;}
.t-loading-cmcc { padding:8px 20px 8px 35px; background:#fff url(../../../img/loading/cmcc_loading.gif) no-repeat 12px center; font-size: 12px;}
.t-loading-cmcc-lg { padding:14px 20px 14px 50px; background:#fff url(../../../img/loading/cmcc_loading_lg.gif) no-repeat 12px 8px; font-size: 14px;}



/*提示信息*/
.t-tip{
    padding: 40px;
    text-align: center;
}
.t-tip i{
    font-size: 60px;
    margin-bottom: 20px;
}
.t-tip-todo{color: #82be38;}
.t-tip-0{color: #82be38;}
.t-tip-done{color: #ffab00;}
.t-tip-del{color:#3A8BE0;}
.t-tip-warn {color:#eb7350;}
.t-tip-warning {color:#ff9900;}
.t-tip-error {color: #C00;}
.t-tip-1 {color: #C00;}
.t-tip-verification {color: red;}
.t-tip p{
    padding-top: 30px;
}

/*智能调度--电费信息*/
a.t-tag-category-lg:hover p.hover-none { border:solid 1px #ddd; padding:3px 14px 3px 10px;background: none}
/*角色管理*/
#roleMenu ul > a{
    margin-left:-76px;
}
#roleMenu ul > a p{
    color: #0085d0;
}
#roleMenu ul{
    padding-bottom: 6px;
    margin-bottom: 3px;
    border-bottom:1px dashed #666;
}
#roleMenu ul:last-child{
    border-bottom:1px solid #fff;
    padding-bottom:0;
    margin-bottom: 0;
}

#roleMenu ul{
    padding-left: 76px;
}